# Bzlmod lockfile
MODULE.bazel.lock

# Ignore all bazel-* symlinks.
/bazel-*

.idea
**/.idea
**/.cmake
**/cmake-build-debug
**/cmake-build-debug2
**/cmake-build-debug2_deps
CLAUDE.md
**/tools
**/protoc-33.5-win64
/todo.md
/jni_upstream_diff.md
